
body {
    margin: 0;
    font-family: "Arial", sans-serif;
    height: 100vh;
    background-image: url("../img/home-full.png");
    background-size: cover;
    background: linear-gradient(90deg, #0b4fcf, #7b5ce6, #c77dff);
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding-right: 2vw; 
}

.left-box {
    width: 420px;
    padding: 50px;
    border-radius: 22px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.35);

    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);

    text-align: center;

    transition: 0.3s ease;
}

.left-box:hover {
    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 12px 55px rgba(0, 0, 0, 0.45);
}

.home-logo {
    width: 120px;
    margin-bottom: 20px;
}

.home-title {
    font-size: 3rem;
    margin: 10px 0;
    color: #2b2b2b;
}

.home-subtitle {
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #444;
}


.home-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    font-size: 1.2rem;
}

.login-btn {
    background: #ffffff;
    border: 2px solid #007bff;
    color: #007bff;
}

.login-btn:hover {
    background: #007bff;
    color: white;
}

.register-btn {
    background: #00c0ff;
    color: white;
}

.register-btn:hover {
    background: #0096cc;
}
